body
{
  background-size: cover;
}

.heading{
    width:100%;
    text-align:left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:25px;
}

.heading h4{
    display:inline;
}

.heading button{
    float:right;
    border: 2px solid skyblue;
}

#status ,#start{
    font-size:23px;
}

canvas{
    border:3px solid white;
    box-shadow: 5px 5px 5px greenyellow;
}